.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--overall-background-color);
}

.formContainer {
    /* border: 1px solid var(--primary-color); */
    display: flex;
    flex-direction: column;
    min-width: 380px;
    padding: 2rem;
    border-radius: 2rem;
    row-gap: 1rem;
    background-color: var(--form-background-color);
    text-align: center;
    box-shadow: var(--input-background-color) 0px 4px 12px;
    color: var(--primary-color);
}

.formContainer > h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.inputContainer > input, button {
    height: 48px;
    border-radius: 2rem;
    outline: 0;
    border: 0;
}

.inputContainer > input {
    background-color: var(--input-background-color);
    padding: 0 0.75rem 0 1rem;
    box-shadow: var(--form-background-color) 0px 0px 0px 1px;
}

.inputContainer > button {
    background-color: var(--primary-color);
    color: var(--input-background-color);
    font-size: medium;
    font-weight: normal;
    cursor: pointer;
    opacity: 90%;
}

.inputContainer>button:hover {
    font-weight: bold;
    opacity: 100%;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.links > span {
    font-size: small;
    margin-right: 0.2rem;
    color: var(--dark-color);
}

.redirect {
    font-size: small;
    font-weight: normal ;
    color: var(--primary-color);
    text-decoration: none;
}

.redirect:hover {
    font-weight: bold;
    border-bottom: 1px solid transparent;
    transition: 0.2s;
}

.passwordContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.passwordContainer > input {
    width: 100%;
    height: 48px;
    border-radius: 2rem;
    outline: 0;
    border: 0;
    background-color: var(--input-background-color);
    padding: 0 0.75rem 0 1rem;
    box-shadow: var(--form-background-color) 0px 0px 0px 1px;
}

.showHideBtn {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--dark-color);
  font-size: 0.6rem;
}
