.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--overall-background-color);
}

.formContainer {
    border: 2px solid var(--input-background-color);
    display: flex;
    flex-direction: column;
    min-width: 380px;
    max-width: 400px;
    padding: 2rem;
    border-radius: 2rem;
    row-gap: 1rem;
    background-color: var(--form-background-color);
    text-align: center;
    box-shadow: var(--input-background-color) 0px 8px 24px;
}

.formContainer > h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
}

.formContainer > p {
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--form-background-color);
    text-align: center;
    font-style: italic;
    font-size: small;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.inputContainer > input, button {
    height: 48px;
    border-radius: 2rem;
    outline: 0;
    border: 0;
}

.inputContainer > input {
    background-color: var(--input-background-color);
    padding: 0 0.75rem 0 1rem;
    box-shadow: var(--form-background-color) 0px 0px 0px 1px;
}

.inputContainer > button {
    background-color: var(--primary-color);
    color: var(--input-background-color);
    font-size: medium;
    font-weight: normal;
    cursor: pointer;
    opacity: 90%;
}

.inputContainer>button:hover {
    font-weight: bold;
    opacity: 100%;
}